
Q1.Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [2]:
#Answer
name="ayush kumar jha"
l=[2,4,5.6,"ayush","pwskills",True]
number=55.6
T=(20,44.5,"ayush",[1,2,3])

Q2.Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

ANSWER 
(i)=string
(ii)=string
(iii)=list
(iv)=integer

In [14]:
var1=''
var2='[DS,ML,Python]'
var3=['DS','ML','Python']
var4=1

In [15]:
type(var1)

str

In [16]:
type(var2)

str

In [17]:
type(var3)

list

In [18]:
type(var4)

int

Q3.Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [20]:
10/5  #division operator (i)

2.0

In [21]:
12%5 # module operator for reminer(ii)

2

In [23]:
11//5 # division floor operator (iii)

2

In [24]:
2**3 #power operator or exponential operator.

8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.