
Q1.Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [31]:
#Answer
name="ayush kumar jha"
l=[2,4,5.6,"ayush","pwskills",True]
number=55.6
T=(20,44.5,"ayush",[1,2,3])

Q2.Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

ANSWER 
(i)=string
(ii)=string
(iii)=list
(iv)=integer

In [32]:
var1=''
var2='[DS,ML,Python]'
var3=['DS','ML','Python']
var4=1

In [33]:
type(var1)

str

In [34]:
type(var2)

str

In [35]:
type(var3)

list

In [36]:
type(var4)

int

Q3.Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [37]:
10/5  #division operator (i)

2.0

In [38]:
12%5 # module operator for reminer(ii)

2

In [39]:
11//5 # division floor operator (iii)

2

In [40]:
2**3 #power operator or exponential operator.

8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [41]:
l=[2,3,5,6,7,'ayush','pw skills',False,55.6,True]
for i in l:
        print(i)
        print(type(i))

2
<class 'int'>
3
<class 'int'>
5
<class 'int'>
6
<class 'int'>
7
<class 'int'>
ayush
<class 'str'>
pw skills
<class 'str'>
False
<class 'bool'>
55.6
<class 'float'>
True
<class 'bool'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [42]:
A = 25
B = 5
A//B

i = 0

while A % B == 0:
    A=A//B
    i += 1

if i > 0:
    print("The number A is divisible by B")
else:
    print("The number A is not divisible by B.")

The number A is divisible by B

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [43]:
list = [7, 14, 21, 4, 9, 10, 27, 30, 31, 17, 18, 36, 39, 42, 45, 49, 51, 54, 57, 60, 62, 66, 69, 71, 99]

for i in list:
    if i % 3 == 0:
        print(f"{i} is divisible by 3")
    else:
        print(f"{i} is not divisible by 3")

7 is not divisible by 3
14 is not divisible by 3
21 is divisible by 3
4 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
27 is divisible by 3
30 is divisible by 3
31 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
36 is divisible by 3
39 is divisible by 3
42 is divisible by 3
45 is divisible by 3
49 is not divisible by 3
51 is divisible by 3
54 is divisible by 3
57 is divisible by 3
60 is divisible by 3
62 is not divisible by 3
66 is divisible by 3
69 is divisible by 3
71 is not divisible by 3
99 is divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [44]:
# the value of mutable is change after creation but not in case of immutable objects
#list is a examble of mutable and string is example of immutable
list =[2, 3, 2.33, 'ayush', (2+3j), 15, True]

In [45]:
list

[2, 3, 2.33, 'ayush', (2+3j), 15, True]

In [46]:
list[3]=1500

In [47]:
list #value changes

[2, 3, 2.33, 1500, (2+3j), 15, True]

In [48]:
a="ayush"

In [49]:
a[3]

's'

In [50]:
a[3]="h" # string is immutable

TypeError: 'str' object does not support item assignment

In [1]:
#correction code of question 5 
# Input values for A and B
A = int(input("Enter the dividend (A): "))
B = int(input("Enter the divisor (B): "))

# Initialize a count variable to keep track of the number of divisions
count = 0

# Use a while loop to perform division until A is no longer divisible by B
while A % B == 0:
    A = A / B  # Update A to the result of the division
    count += 1  # Increment the count

# Check if A eventually becomes 1 (purely divisible)
if A == 1:
    print(f"{A} is purely divisible by {B}, and it can be divided {count} times.")
else:
    print(f"{A} is not purely divisible by {B}.")

Enter the dividend (A):  25
Enter the divisor (B):  5

1.0 is purely divisible by 5, and it can be divided 2 times.