Q1. How do you comment code in Python? What are the different types of comments?

#ANS.
#we have two types commet single line and multiline comments
# using hash symbol  we comment in python- single line comment
""" Multi-line comment used
in pythin by  """
#or we can write like this
''' my name is 
ayush kumar jha '''

Q2. What are variables in Python? How do you declare and assign values to variables?

  ans. variables that point to object 
and we stores values in the variable

In [1]:
#declare and assign like
name="ayush kumar jha"
age = 19
print(name)
print(age)

ayush kumar jha
19

Q3. How do you convert one data type to another in Python?

In [2]:
#convert one data type to another in python by using typecasting
a = "1"
b = "2"

print(int(a)+int(b)) # typecasting string to integer

3

Q4. How do you write and execute a Python script from the command line?

 python3 filename.py by using this comamnd in terminal
 3 after python is basically version of python in some devices that needed or not in some like for mac or linux python3 and for window only python

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [4]:
#Ans 5.
my_list = [1,2,3,4,5]
my_list[1:3]

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

 Ans.  complex number in math represent by a+ib formula where a and b is real number an i is imaginary number
also i is known as iota
note:-in maths we represent by i but in python we use j.
representation in python given below

In [5]:
z  = 3 + 4j

In [6]:
z.imag

4.0

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [7]:
#Ans.7
age = 25

In [8]:
age

25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [9]:
price = 9.99

In [10]:
type(price)

float

ans. so the value is belong to the float data type

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [14]:
name = ("Ayush Kumar Jha")
print(name)

Ayush Kumar Jha

Q10. Given the string "Hello, World!", extract the substring "World".

In [16]:
string = ("Hello,World!")
print(string[6:11])

World

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [21]:
is_student=True
if(is_student==True):
    print("you are a student")
else :
    print("you are not a student")

you are a student